{% extends "we/base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="background-color: #ffbe66;height: 100%;">
                <div class="col-md-12" style="top: 40%;font-size: 80px;padding-left: 200px;font-family: 'Arial Rounded MT Bold'; ">
                    Insight
                </div>
                <div class="col-md-12" style="top: 40%;color: white;padding-left: 200px;font-size: 35px;font-family: 'Arial Rounded MT Bold';">
                    Make our hub better
                </div>
                <div class="col-md-12" style="text-align: right;">
                    <img src="{% static 'we/images/lib_v2.svg' %}" style="height: 60%;width: 60%;" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: #8acfac;height: 100%;">
                <div class="col-md-12" style="top: 40%;font-size: 80px;padding-left: 200px;font-family: 'Arial Rounded MT Bold'; ">
                    Brilliant
                </div>
                <div class="col-md-12" style="top: 40%;color: white;padding-left: 200px;font-size: 35px;font-family: 'Arial Rounded MT Bold';">
                    Make our hub better
                </div>
                <div class="col-md-12" style="text-align: right;">
                    <img src="{% static 'we/images/building.svg' %}" style="height: 60%;width: 60%;" alt="">
                </div>
            </div>
        </div>
    </div>

{% endblock %}


